 <table style='width:100%;'>
   <thead>
     <tr>
       <th style='background-color:blue;' colspan="2">
         <h3 style='color:white;'> CEgestor.org </h3>
       </th>
     </tr>
   </thead>
   <tr>
     <th colspan='2' style='background-color: blue;'>
      <b> <%=@full_name%> </b>
     </th>
   </tr>
   <tr>
     <td>
       <%=@message1%>
     </td>
     <td>
      <a href=<%=@url%>> HERE </a>
     </td>
   </tr>
  
 </table>
