 <table style='width:100%;'>
   <thead>
     <tr>
       <th style='background-color:blue;' colspan="2">
         <h3 style='color:white;'> CEgestor.org </h3>
       </th>
     </tr>
   </thead>

   <tr>
     <td colspan="2">
            <a href=<%=@url%>> <%=@message1%> </a>
     </td>

   </tr>

 </table>
