<div class="card">
    <div class="card-header-top">
        <h1><%=t :edit%>:
            <%=  @user.username%></h1>
    </div>
    <div class="card-block">

        <%=render 'form', user: @user%>

    </div>
</div>
