<div class="card">
    <div class="card-header card-header-top">

        <table class="table table-noborder table-nopadding">
            <td class="card-title no-border">
                <h2>
                    <%=t :new_user%>:

                </h2>

            </td>
            <td class='buttons'>
                <%= link_to raw("<icon class='fa fa-5x fa-home'></icon>"), users_path, class: 'btn btn-primary btn-top' %>
            </td>
        </tr>
    </table>
</div>

<div class="card-block"

            <%= render 'form', user: @user %>
     
    </div>
</div>
