<br>
<br>


<div class="col-lg-11 col-md-11  col-sm-12 col-xs-12" style="width:100%;">

    <table class="table table-striped center">
        <tr>
            <td>
               <%if !@territories.nil? %>
               <%@territories.each do |t| %>
                 <%@territory = Territory.find(t[0]) %>
                 <%@distance = t[1]%>
                 <%=render 'map_what', territory: @territory,distance: @distance, coords: coords %>
               <%end%>
               <%end%>


            </td>

        </tr>

    </table>

</div>
