<div class="card">
    <div class="card-header card-header-top">

        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">

                    <h2>
                        <%=t :edit_address%>
                    </h2>

                </td>

                <td class="buttons">

                    <%= link_to raw("<icon class='fa fa-5x fa-home'></icon>"), addresses_path, class: 'btn btn-primary btn-top' %>

                </td>
            </tr>
        </table>

    </div>

    <div class="card-block">

     <%=render 'form', address: @address %>

    </div>

</div>
<script>
    $(document).ready(function () {
        $('.datepicker').datepicker({language: "<%=session[:locale]%>"});
    });
</script>
