<br>
<br>

<div class="card">
  <div class="card-header">
    <%=t :select_terr%>
  </div>

  <div class="card-block">

    <%= form_tag 'index_terr' do -%>
    <table class="table">
      <tr>
        <td> <%= collection_select :territory_id, nil, Territory.where(congregation_id: session[:congid]).order('territory_no+0'),  :id, :territory_no,{}, {class: 'sel-field'} %> </td>
        <td> <%= submit_tag "#{t :go}", class: 'btn btn-primary'  %> </td>
      </tr>
    </table>
    <% end -%>

  </div>

</div>
