<div class="card">
    <div class="card-header card-header-top">
        <table class="table table-noborder table-nopadding">
            <tr>
                <td class="card-title no-border">
                    <br/>
                    <h2>
                        <%=t :zone_new%>
                    </h2>
                </td>
                <td class="buttons">
                    <%=link_to "", {controller: 'zones', action: 'index'}, class: 'tdtn btn-primary btn-home btn-top' %>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-block">
        <%=render 'form' %>
    </div>


    <%if show_msg('zone_cord')%>
     <%= render 'layouts/warn_map', msg: "#{t :warn_map_zone}", msg_name: 'zone_cord' %>
    <%end%>
