<div class="card">
    <div class="card-header-top">
        <h1><%=t :new_territory%></h1>
    </div>

    <div class="card-block">
      <%= render partial: 'form', locals: {territory: @territory, zone: @zone} %>
    </div>
</div>
