/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker3
 *= require mapbox
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome";


.btn-card-nopad{
  padding:3px;
  font-size: 12px!important;
  max-width: 140px!important;
  min-width:140px!important;
  width:140px!important;

}


table.table-nopadding{
 border:0px!important;
 padding:0px!important;
 td {
   padding:0px;
   border:0px!important;
}


}



table.table-noborder{
 border:0px!important;

 td {

   border:0px!important;
}


}



.text-field {
    border-radius: 8px 8px;
    border: 1px solid #d7d7d7;
    height: 38px;
    padding-left: 8px;
    min-width: 200px!important;
    background-color: white!important;
}

.text-field-sm {
    border-radius: 8px 8px;
    border: 1px solid #d7d7d7;
    height: 30px;
    padding-left: 8px;
    min-width: 98%!important;
    margin-bottom: 3px;
    background-color: white!important;
}

.text-field-wide {
    border-radius: 8px 8px;
    border: 1px solid #d7d7d7;
    height: 38px;
    padding-left: 8px;
    width: 100%;
    font-size: 14px;
    color: black;
    background-color: white!important;
}

.text-area-wide {
    border-radius: 8px 8px;
    border: 1px solid #d7d7d7;
    height: 80px;
    padding-left: 8px;
    width: 100%;
    color: black;
    background-color: white!important;
}

 .card-header-top {
     max-height: 82px;
     padding-top: 2px;
     margin-top: -16px;
     padding-bottom: 2px;
     padding-right: 0;
 }

th a{color:white;}

.datepicker-days{
  width:400px;
}

.datepicker{
  width:200px;
}

.table-condensed{
  width:200px;
}

img.logo{
  width:99%;
}

.search{
  width:85%;
}

.center{
  text-align: center;
}

table.center{
  text-align: center;
}

table.center tr{
  text-align: center;
}

table.center td{
  text-align: center;
  padding-left:20%;
  padding-right: 20%;

}


div.login{
    margin-top: 100px;
    max-width:40%;
    margin: 0 auto;
}

h4{
  color:red;
}

h5.ci{
  color:green;
}

h5.co{
  color: #c8c800;
}


p.notice{
  border: 1px solid red;
  height: 40px;
  background-color: red;
  color: white;
  font-size: 17px;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  padding-left:12px;
  padding-top:6px;

}


div.left{
  background-color: #d6d7e7;
  border-right: 1px solid grey;
  display: table-column;
  min-height: 1200px;

}

div.right{
  display: table-column;
  background-color: #ffffff;
  in-height: 1200px;
  padding-left:0px;
  padding-right:0px;
}

th{
  background-color: #0044cc;
  color: white;
  font-size: 11px;
}

.btn-primary{
  min-width: 200px;
  margin-bottom: 12px;
}

table.table-center-btn{
  td{text-align: center;}
}

.btn-center{
  width:50%;
}

.card{
  margin-top: 40px;
}


.card-block{
  padding:0px;
}

.card-header-top{
  background-color: #3871c0;
  color: white;
}

.card-header{
  background-color: #3871c0;
  color: white;
}

table.table-inverse{
  border-radius: 8px 8px;
  border: 0px;
}

.table-inverse tr{
  border: 0px;
 }

.table-inverse td{
  border:0px;
}

.button{
  float:left;
}

.button_edit{
  float:right;
}

.btn-right{
  float:right;
}

.txt-area{
  color:black;
  border-radius: 8px 8px;
  min-height: 124px;
  border: 1px solid grey;
  width:100%;
  padding:8px;
}



.txt-field{
  color:black;
  border-radius: 8px 8px;
  min-height: 34px;
  border: 1px solid grey;
  width:100%;
}

.sel-field{
  color:black;
  border-radius: 8px 8px;
  border: 1px solid grey;
  width:100%;
  padding-top: 6px;
  padding-bottom: 5px;
}

.checkout{
  background-image:url('checkout.jpeg');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 100% 0px;
  height:100px;
}


div.zone{
  display: inline-block;
  margin:4px;
  max-width:200px;
}

img.zone{
  width:99%;
}


@media only screen and (min-width: 100px) {

    .btn-top {
        height: 78px;
        min-width: 20%;
        margin-bottom: 0;
        border-top-right-radius: 4px 4px;
        font-size: 10px;
        font-weight: bolder;
        display: inline-block;
        padding-top: 12px;
        padding-left: 0;
        margin-left: 0;
        text-align: right;
    }

  }

  @media only screen and (min-width: 320px) {

      .btn-top {
          height: 78px;
          min-width: 22%;
          margin-bottom: 0;
          border-top-right-radius: 4px 4px;
          font-size: 10px;
          font-weight: bolder;
          display: inline-block;
          padding-top: 12px;
          padding-left: 0;
          margin-left: 0;
          text-align: right;
      }


    }

    @media only screen and (min-width : 480px) {

        .btn-top {
            height: 78px;
            min-width: 22%;
            margin-bottom: 0;
            border-top-right-radius: 4px 4px;
            font-size: 10px;
            font-weight: bolder;
            display: inline-block;
            padding-top: 12px;
            padding-left: 0;
            margin-left: 0;
            text-align: right;
        }

      }

      @media only screen and (min-width : 560px) {

          .btn-top {
              height: 78px;
              min-width: 25%;
              margin-bottom: 0;
              border-top-right-radius: 4px 4px;
              font-size: 10px;
              font-weight: bolder;
              display: inline-block;
              padding-top: 12px;
              padding-left: 0;
              margin-left: 0;
              text-align: right;
          }
        }

        @media only screen and (min-width : 992px) {

            .btn-top {
                height: 78px;
                min-width: 35%;
                margin-bottom: 0;
                border-top-right-radius: 4px 4px;
                font-size: 10px;
                font-weight: bolder;
                display: inline-block;
                padding-top: 12px;
                padding-left: 0;
                margin-left: 0;
                text-align: right;
            }
}


@media only screen and (min-width : 1200px) {

    .btn-top {
        height: 78px;
        min-width: 49%;
        margin-bottom: 0;
        border-top-right-radius: 4px 4px;
        font-size: 10px;
        font-weight: bolder;
        display: inline-block;
        padding-top: 12px;
        padding-left: 0;
        margin-left: 0;
        text-align: right;
        float:right;
    }
  }
